body {
  font-family: "Inter", sans-serif;
}
.card {
  width: 250px;
  height: 380px;
  border: 1px solid lightblue;
  padding: 10px;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-img {
  width: 250px;
  height: 144px;
}
.btn {
  width: 250px;
  padding: 6px;
  border-radius: 8px;
  border-style: none;
  background-color: blue;
  color: white;
  font-size: 16px;
}
.courses {
  width: 900px;
}
.container {
  display: flex;
}
.cart {
  width: 300px;
  margin-left: 25px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.credit-icon {
  display: flex;
  align-items: center;
  gap: 4px;
}
.card-heading {
  font-size: 18px;
  font-weight: 600;
}
